$container-thin-max-width: 850px;
$container-article-max-width: 1070px;
$container-max-width: 1290px;
$container-margin-mobile: px-to-rem(40px);
$container-margin-desktop: px-to-rem(64px);

$margin-top-small: px-to-rem(32px);
$margin-top-medium: px-to-rem(64px);
$margin-top-large: px-to-rem(260px);
$margin-bottom-small: px-to-rem(32px);
$margin-bottom-medium: px-to-rem(64px);
$margin-bottom-large: px-to-rem(260px);
